{% extends "base.html" %}

{% block game %}

{% from 'bootstrap5/form.html' import render_form, render_field %}

<div class="container text-center">
    <h2 class="h3 mb-3 font-weight-normal">
        How it works?
    </h2>
    <p class="lead">
        Computer guessed a number from three different digits.
    <p>If you guess digit and it's position in hidden number you'll get <b>Pico.</b><br>
        If you guess only digit you'll get <b>Fermi</b><br>
        In other case you'll get <b>Bagles</b></p>
    </p>
    <h1 class="h3 mb-3 font-weight-normal">
        Try guess the Number
    </h1>
    {% if results.checker_response is defined %}
    <div class="row justify-content-center">
        {% for result in results.checker_response %}
        <div class="col-2">
            {{ result }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if results.message is defined %}
    <p class="lead text-warning">
        {{ results.message }}
    </p>
    {% endif %}
    <br>

    <p class="lead">
        Tries left:
        {% if results.tries is defined %}
        {{ results.tries}}
        {% else %}
        10
        {% endif %}

    </p>
    <div class="row g-3 align-items-center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="col-auto">
                <p class="lead">
                    {{ form.try_number(class='form-control') }}
                </p>
            </div>
            <p>
                {{ render_field(form.submit_button, class="btn btn-lg btn-block btn-primary")}}
            </p>

        </form>
    </div>



</div>

{% endblock %}