<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to Bagles game</title>


    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</head>

<body>
    {% if session_id %}

    <h1> Continue game </h1>

    {% block game %} {% endblock %}

    {% else %}

    {% block new_game %} {% endblock %}

    {% endif %}



</body>


<style>
    body {
        background-color: #212121;
        color: white
    }
</style>

</html>