{% extends "base.html" %}

{% block game %}

<div class="container">


    <form action="" method="post" name="try" style="color:white">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">
            Try the Number
        </h1>

        {% if results.checker_response is defined %}
        {% for result in results.checker_response %} <p> {{ result }}</p>
        {% endfor %}
        {% endif %}
        {% if results.message is defined %}
        {{ results.message }}
        {% endif %}
        <br>
        <p>
            Tries left: {{ results.tries}}
        </p>
        <p>
            {{ form.try_number.label() }}
            {{ form.try_number(class="form-control") }} <br>
        </p>
        <p>
            {{ form.submit_button(class="btn btn-lg btn-block btn-primary", value="Try!") }} <br>
        </p>

    </form>
</div>

{% endblock %}