[Unit]
Description=uWSGI instance to server Bagles app
After=network.target

[Service]
Group=root
WorkingDirectory=/bagles_app
ExecStart=/usr/bin/uwsgi --ini /bagles_app/settings/wsgi.ini

[Install]
WantedBy=multi-user.target